h3 {
	font-size: 18px;
	color: #666;
	font-weight: bold;
	float: left;
	margin-top: 30px;
}

.sr-no {
	font-size: 33px;
	color: white;
	background-color: #D7D7D7;
	padding: 15px 22px;
	font-weight: bold;
	margin: 10px 10px 10px 0px;
	float: left;
}

.container {
	margin-top: 120px;
	margin-bottom: 90px;
}

.info p, table {
	clear: both;
}

select, input[type="text"] {
	width: 350px;
	height: 15px;
}

th {
	text-align: left;
}

.price-heading {
	font-size: 14px;
	color: #4D4D4D;
	padding: 0px 10px 0px 0px;
	border-bottom: none;
	border-top: none;
	border-right: 1px solid #CACACA;
	vertical-align: top;
}

.price {
	border-bottom: none;
	border-top: none;
	padding: 0px 0px 0px 10px;
	vertical-align: top;
	color: #4D4D4D;
	font-size: 16px;
	font-weight: bold;
}

.add-detail {
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	background-color: #C09A6F;
	padding: 5px 10px;
	font-family: "STXihei", sans-serif;
}

a {
	text-decoration: none;
}

td{
	padding: 30px 10px 18px 10px;
}

th {
	padding: 0px 10px 0px 10px;
}

.info {
	line-height: 1.8em;
	padding-right: 32px;
	vertical-align: top;
	border-right: #CACACA 1px solid;
	padding-left: 14px;
	font-size: 14px;
	display: table-cell;
}

.info:first-child {
	padding-left: 0;
}

.info:last-child {
	border: none;
}

table, th, td {
	border-top: 1px solid #CACACA;
	border-collapse: collapse;
	border-bottom: 1px solid #CACACA;
}

table {
	width: 380px;
}

#terms {
	font-size: 12px;
}

#terms a {
	color: #A47C52;
}

input[name="place-order"] {
	height: 50px;
	width: 380px;
	background-color: #F00;
	color: white;
}

form {
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 105px;
	color: black;
}

#terms a:hover {
	text-decoration: underline;
}

#d-charge .tableRow p{
	display: table-cell;
}

#d-charge .tableContainer {
	clear: both;
}

#bill-info, #shipping-method, #evoucher, #promotion {
	margin-bottom: 50px;
}